
.menu-branch-export
{
    background-position: center;
    background-image: url("branch-export-icon.png")!important;
}

.menu-branch-export .menu-help
{
    background-position: left -552px;
    
}


